<div>
  <div class="mb-md  ">
    <h1 class="fs-xl">Reset Password</h1>
  </div>
  <form #form="ngForm">
    <div class="mb-xs">
      <div class="form-floating ">
        <input type="password" class="form-control" id="nPassword" placeholder="name@example.com">
        <label for="nPassword">New password</label>
      </div>
    </div>
    <div class="mb-xs">
      <div class="form-floating ">
        <input type="password" class="form-control" id="nPassword" placeholder="name@example.com">
        <label for="nPassword">Confirm new password</label>
      </div>
    </div>

  </form>

  <button class="btn btn-primary fs-sm py-3 w-100 ">
    <span>Submit</span>
  </button>

</div>
