<div class="mt-md">
  <h4 class="fw-semi fs-xs opacity-50 mb-e2">Order Summary</h4>

  <div class="border  border-g-400 rounded ">
    <div class="d-flex justify-content-between align-items-center p-xs">
      <div class="appTable-item">
        <div class="appTable-item-header me-e3">
          <app-image ratio="is-4-5"></app-image>
        </div>
        <div class="appTable-item-body">
          <h4 class="fs-xxs fw-semi max-xxs mb-0"><a [routerLink]="['/product']"> Graco FastAction Fold 2.0
              Travel
              System -
              Henson </a>
            <span class="fw-medium  mt-e3 d-block fs-xxxs  text-secondary"> QTY: 1</span>

          </h4>
        </div>
      </div>
      <span class="fw-semi fs-xs"> 4577 EGP</span>
    </div>
    <hr class="bg-gray opacity-100 m-0">
    <div class="d-flex justify-content-between align-items-center p-xs">
      <div class="appTable-item">
        <div class="appTable-item-header me-e3">
          <app-image ratio="is-4-5"></app-image>
        </div>
        <div class="appTable-item-body">
          <h4 class="fs-xxs fw-semi max-xxs mb-0"><a [routerLink]="['/product']"> Graco FastAction Fold 2.0
              Travel
              System -
              Henson </a>
            <span class="fw-medium  mt-e3 d-block fs-xxxs  text-secondary"> QTY: 1</span>

          </h4>
        </div>
      </div>
      <span class="fw-semi fs-xs"> 4577 EGP</span>
    </div>
  </div>
  <div class="bg-gray-300 rounded p-xs mt-xxs">

    <div class="d-flex justify-content-between fw-semi ">
      <span>Subtotal</span>
      <span>278 <small>EGP</small></span>
    </div>
    <div class="d-flex justify-content-between fw-semi mt-xxs">
      <span>Shipping Fees</span>
      <span>Free</span>
    </div>
    <div class="d-flex justify-content-between fw-semi mt-xxs">
      <span>Payment Fees </span>
      <span>Free</span>
    </div>
    <hr class=" mt-xxs">
    <div class="d-flex justify-content-between fw-semi mt-xxs fs-xs">
      <span>Total (inclusive of VAT) </span>
      <span class="text-secondary">278 <small>EGP</small></span>
    </div>
  </div>
</div>
