.appBreadcrumbs {
  list-style-type: none;
  padding: 0;
  margin: 0 rem(-10px);
  display: flex;
  flex-wrap: wrap;

  > li {
    > * {
      color: $body-color;
      padding: 0 rem(10px);
      display: inline-block;
      &:hover {
        color: $primary;
      }
      &.is-active,
      &.is-active:hover {
        color: rgba($body-color, 0.5);
      }
    }
    &:not(:last-child) {
      &:after {
        content: "»";
      }
    }
  }
}
