<div class="p-lg bg-gray-300 border  border-g-400 rounded text-center">
  <h1 class="fs-lg mb-xs">Thank You!</h1>

  <img src="assets/icons/thanks.svg" class="img-fluid max-xxs" alt="">

  <h2 class="fs-sm mt-xs">Order ID: 907</h2>

  <p class="mb-0 opacity-75">Your order is on its way 🙂 </p>
  <p class="mb-0 opacity-75">You can track it for updates. </p>

  <div class="thanks-buttons mt-xs">
    <button class="btn  pt-e3 pb-e3  btn-outline-dark">Continue Shopping</button>
    <button class="btn  pt-e3 pb-e3  btn-success">Track Order</button>

  </div>
</div>
