<div class="pt-lg pb-lg">
  <div class="container">
    <h1 class="fs-lg mb-0">All categories </h1>


    <div class="mt-md" *ngFor="let mainItem of mainCategories ; let im = 'index+1'">

      <h3 class="fs-md mb-0">
        <a [routerLink]="['/category']" title="Category Name">
          {{mainItem.title}}
        </a>
      </h3>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mt-col" *ngFor="let subItem of subCategories ; let i1 = 'index+1'">
          <div class="border  border-g-400 rounded p-sm">
            <h4 class="fs-sm">
              <a [routerLink]="['/category']" title="Category Name">
                {{subItem.title}}
              </a>
            </h4>

            <div class="d-flex flex-wrap">
              <a class="d-block py-1 px-2 bg-gray-300 mt-1 me-1 rounded" [routerLink]="['/category']"
                title="Category Name" *ngFor="let item of categories ; let i = 'index+1'">
                {{item.title}}
              </a>

            </div>
          </div>
        </div>
      </div>
      <hr class="mb-md mt-md">
    </div>
  </div>
</div>
