<div class="text-center fs-xs mb-xs d-flex align-items-center">
  <hr class="w-100">
  <span class="px-2">OR</span>
  <hr class="w-100">
</div>
<div class="socialLogin">
  <button class="btn is-faceebok">
    <svg-icon src='assets/icons/facebook-colored.svg' class="is-lg me-e4"></svg-icon>
    <span>Login with Facebook</span>
  </button>
  <button class="btn  is-google">
    <svg-icon src='assets/icons/google-colored.svg' class="is-lg me-e4"></svg-icon>
    <span>Login with Google</span>
  </button>
</div>
