<div class="theFooter">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-sm-6 theFooter-col">
        <div class="theFooter-logo">
          <img src="assets/icons/logo.svg" alt="mumez">
        </div>

      </div>
      <div class="col-lg-3 col-sm-6 theFooter-col">
        <h4 class="mb-sm fs-sm">Categories</h4>
        <ul class="theFooter-nav">
          <li><a [routerLink]="['/category']" title="Diapers">Diapers</a></li>
          <li><a [routerLink]="['/category']" title="Clothes">Clothes</a></li>
          <li><a [routerLink]="['/category']" title="Feeding">Feeding</a></li>
          <li><a [routerLink]="['/category']" title="Nursery">Nursery</a></li>
          <li><a [routerLink]="['/category']" title="Gear">Gear</a></li>
          <li><a [routerLink]="['/category']" title="Mumz">Mumz</a></li>
          <li><a [routerLink]="['/category']" title="Toys">Toys</a></li>
          <li><a [routerLink]="['/category']" title="Books">Books</a></li>
          <li><a [routerLink]="['/category']" title="Outdoor">Outdoor</a></li>
          <li><a [routerLink]="['/category']" title="Safety">Safety</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 theFooter-col">
        <h4 class="mb-sm fs-sm">Get to Know Us</h4>
        <ul class="theFooter-nav">
          <li><a [routerLink]="['/about']" title="About Us">About Us</a></li>
          <li><a [routerLink]="['/contact']" title="Contact Us">Contact Us</a></li>
          <li><a [routerLink]="['/careers']" title="Careers">Careers</a></li>
          <li><a [routerLink]="['/sell']" title="Sell on Mumez">Sell on Mumez</a></li>
          <li><a [routerLink]="['/']" title="Blog">Blog</a></li>
          <li><a [routerLink]="['/contact']" title="Returns Form">Returns Form</a></li>
          <li><a [routerLink]="['/returns-policy']" title="Returns Policy">Returns Policy</a></li>
          <li><a [routerLink]="['/terms']" title="Terms and Conditions">Terms </a></li>
        </ul>
      </div>
      <div class="col-lg-1 d-none d-lg-block"></div>
      <div class="col-lg-2 col-sm-6 theFooter-col">
        <h4 class="mb-sm fs-sm">Contact Us</h4>

        <!-- <a class="d-flex align-items-center mb-xs" href="mailto:Cairo, Egypt" title="Cairo, Egypt" target="_blank">
          <svg-icon src='assets/icons/location.svg' class="is-lg"></svg-icon>
          <span class="ms-e4">Cairo, Egypt</span>
        </a> -->
        <a class="d-flex align-items-center mb-xs" href="mailto:info@mumez.com" title="info@mumez.com" target="_blank">
          <svg-icon src='assets/icons/email.svg' class="is-lg"></svg-icon>
          <span class="ms-e4">Info@mumez.com</span>
        </a>

        <a class="d-flex align-items-center mb-xs" href="tel:00201014484564" title="00201014484564" target="_blank">
          <svg-icon src='assets/icons/phone.svg' class="is-lg"></svg-icon>
          <span class="ms-e4">00201014484564</span>
        </a>
        <div class=" d-flex align-items-center mt-xs">
          <a class="d-inline-block me-e1 fs-md" href="#0" target="_blank" title="facebook">
            <svg-icon src="assets/icons/facebook.svg"></svg-icon>
          </a>
          <a class="d-inline-block me-e1 fs-md" href="#0" target="_blank" title="twitter">
            <svg-icon src="assets/icons/twitter.svg"></svg-icon>
          </a>
          <a class="d-inline-block me-e1 fs-md" href="#0" target="_blank" title="instagram">
            <svg-icon src="assets/icons/instagram.svg"></svg-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="theFooter-end text-center d-flex justify-content-between align-items-center">
      <span class="me-xs"> © {{ currentYear }} Mumez ® All Rights reserved.</span>
      <span>
        Made with love <svg-icon src='assets/icons/heart-fill.svg' class="text-secondary"></svg-icon>
        at <a href="https://www.baianat.com/" title="Baianat" target="_blank"> Baianat </a>
      </span>

    </div>
  </div>

</div>
