<div>
  <div class="text-center">
    <h1 class="fs-lg mb-sm">Confirmation</h1>

  </div>

  <div>
    <h4 class="fw-semi fs-xs opacity-50 mb-e2">Shipping Address</h4>
    <div class="border  border-g-400 rounded">
      <div class=" p-xs w-100  addressItem d-flex justify-content-between align-items-center">
        <div class="w-100  d-block">
          <span class="fw-semi">Main Address</span>
          <br>
          Eslam Hamed
          <br>
          <span class="max-sm d-block fs-xxxs">
            المركزية, CMQG+9W - New Damietta - Damietta Governorate,Dumiatta, Egypt
          </span>
          <br>
          01022xxxxxxx

        </div>

      </div>
    </div>
  </div>

  <div class="mt-md">
    <h4 class="fw-semi fs-xs opacity-50 mb-e2">Payment Method</h4>
    <div class="border  border-g-400 rounded">
      <div class=" p-xs w-100  addressItem d-flex justify-content-between align-items-center">
        <div class="w-100  d-block">
          <span class="fw-semi">Cash on Delivery</span>
          <br>
          You will be redirected to the PayPal website when you place an order.
        </div>
        <div class="addressItem-actions">
          <div class="bg-gray-200 p-2 rounded fs-sm lh-1">
            <svg-icon src='assets/icons/delivery.svg'></svg-icon>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
