<section class="pt-md pb-md">
  <div class="container">
    <div class="mb-xs">
      <h1 class="fs-xl mb-1">My cart </h1>
      <p class="mb-0">You have 2 products in your cart </p>
    </div>
    <div class="row gx-lg">
      <div class="col-lg-8">
        <table class="appTable">
          <tbody>
            <tr *ngFor="let item of [].constructor(4); let i = index">
              <td class="ps-0">
                <div class="appTable-item">
                  <div class="appTable-item-header me-e3">
                    <app-image ratio="is-4-5"></app-image>
                  </div>
                  <div class="appTable-item-body">
                    <h4 class="fs-xxs fw-semi max-xxs mb-0"><a [routerLink]="['/product']"> Graco FastAction Fold 2.0
                        Travel
                        System -
                        Henson </a>
                    </h4>
                    <span class="fw-semi  mt-e5 d-block fs-xxxs opacity-75 text-secondary"> 6,415.1 EGP</span>
                  </div>
                </div>
              </td>
              <td>

                <div class="qtyInput max-100">
                  <span class="qtyInput-icon" (click)="updateCartDetail( 'minus')">- </span>
                  {{ qty }}
                  <span class="qtyInput-icon" (click)="updateCartDetail( 'plus')"> +</span>
                </div>

              </td>
              <td><span class="fw-semi fs-xs"> 4577 EGP</span></td>
              <td>
                <button class="btn p-0 fs-md text-danger shadow-none">
                  <svg-icon src='assets/icons/delete.svg'></svg-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <a class="fw-semi fs-sm mt-sm d-inline-block" [routerLink]="['/category']" title="Continue Shopping">
          <span class="circleIcon is-back">
            <svg-icon src='assets/icons/arrow-more.svg' class="is-xl "></svg-icon>
          </span>
          <span class="ms-e3">Continue Shopping</span>
        </a>
      </div>
      <div class="col-lg-4">
        <div class="mt-md d-lg-none"></div>
        <div class="bg-gray-300 rounded p-md">
          <h2 class="fs-md mb-0">Payment Summary </h2>


          <div class="d-flex mt-xs">
            <input class="form-control  me-e5 border-0" type="text" placeholder="Enter Coupon Code">
            <button class="btn btn-secondary">Apply</button>
          </div>


          <div class="d-flex justify-content-between fw-semi mt-xs">
            <span>Subtotal</span>
            <span>278 <small>EGP</small></span>
          </div>
          <div class="d-flex justify-content-between fw-semi mt-xs">
            <span>Shipping Fees</span>
            <span>Free</span>
          </div>
          <div class="d-flex justify-content-between fw-semi mt-xs">
            <span>Payment Fees </span>
            <span>Free</span>
          </div>
          <hr class=" mt-xs">
          <div class="d-flex justify-content-between fw-semi mt-xs fs-xs">
            <span>Total (inclusive of VAT) </span>
            <span class="text-primary">278 <small>EGP</small></span>
          </div>
          <div class="mt-xs">
            <a class="btn btn-success w-100 py-2" [routerLink]="['/checkout']" title="Proceed to checkout">Proceed to
              checkout</a>
          </div>





        </div>
      </div>
    </div>


  </div>
</section>



<section class="pt-lg ">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <h3 class="fs-lg mb-xs">You May Also Like</h3>
      <a class="btn  btn-outline-dark mb-xs " [routerLink]="['/']" title="View More">
        View More
      </a>
    </div>
    <swiper [config]="productsSwiperConfig">
      <ng-template swiperSlide *ngFor="let item of [].constructor(10) ; let i = 'index+1'">
        <product-card></product-card>
      </ng-template>
    </swiper>

  </div>
</section>
<div class="mt-lg">
  <app-features></app-features>
</div>
