<section class="pt-md pb-md  bg-gray-200  scrollSection">
  <div class="scrollSection-container">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="feature">
            <div class="feature-icon me-e2">
              <img src="assets/icons/feature.svg" alt="">
            </div>
            <div class="feature-body">
              <h5 class="fs-xxs mb-e6 text-uppercase">Free Returns</h5>
              <p class="mb-0 fs-xxxs max-xxxs">Get free returns on eligible items</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="feature">
            <div class="feature-icon me-e2">
              <img src="assets/icons/feature.svg" alt="">
            </div>
            <div class="feature-body">
              <h5 class="fs-xxs mb-e6 text-uppercase">Trusted shipping</h5>
              <p class="mb-0 fs-xxxs ">Free shipping when you spend EGP 350 and above</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="feature">
            <div class="feature-icon me-e2">
              <img src="assets/icons/feature.svg" alt="">
            </div>
            <div class="feature-body">
              <h5 class="fs-xxs mb-e6 text-uppercase">Secure shopping</h5>
              <p class="mb-0 fs-xxxs max-xxxs">Your data is always protected </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="feature">
            <div class="feature-icon me-e2">
              <img src="assets/icons/feature.svg" alt="">
            </div>
            <div class="feature-body">
              <h5 class="fs-xxs mb-e6 text-uppercase">Trusted shipping</h5>
              <p class="mb-0 fs-xxxs ">Free shipping when you spend EGP 350 and above</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
