<ul class="socials">
  <!-- <li>
    <a href="https://www.google.com/" target="_blank" title="facebook">
      <svg-icon src='assets/icons/facebook.svg'></svg-icon>
    </a>
  </li> -->
  <li>
    <a href="https://www.google.com/" target="_blank" title="twitter">
      <svg-icon src='assets/icons/twitter.svg'></svg-icon>
    </a>
  </li>
  <a href="https://www.google.com/" target="_blank" title="snap">
    <svg-icon src='assets/icons/snap.svg'></svg-icon>
  </a>
  <!-- <li>
    <a href="https://www.google.com/" target="_blank" title="youtube">
      <svg-icon src='assets/icons/youtube.svg'></svg-icon>
    </a>
  </li> -->
  <li>
    <a href="https://www.google.com/" target="_blank" title="instagram">
      <svg-icon src='assets/icons/instagram.svg'></svg-icon>
    </a>
  </li>
</ul>
