<div class="pt-lg pb-lg ">
  <div class="container">
    <div class="max-xl mx-auto">

      <div class="mb-md">
        <h1 class="fs-lg  mb-xxs">AMZL Egypt Facilities Supervisor- Maintenance</h1>
        <p class="opacity-75">September 1, 2019</p>

      </div>

      <h4 class="fs-md">Job Description</h4>

      <p>
        The Facilities Supervisor – Maintenance will have a significant impact on customer experience. The Facilities
        Supervisor – Maintenance will have the ability to lead other technicians, design solutions for challenging
        problems,
        manage outside contractors, be on call for emergencies, to handle multiple projects and daily activities, and
        meet
        tough time lines. The Facilities Supervisor – Maintenance will develop plans on how to accomplish engineering
        departmental goals.
      </p>
      <p>
        The Facilities Supervisor – Maintenance will be responsible for the leadership/development and coaching of the
        team.
        Performance Management will be carried out by the Facilities Supervisor – Maintenance. This role also leads the
        technical team in providing both a reactive and pro-active maintenance service on all operational equipment and
        facilities infrastructure within the AMZL Distrbutions Centers. The role has a direct impact on the site, its
        productivity and operational success. If equipment is not available or performs badly it minimizes the capacity
        and
        throughput of the site.
      </p>

      <h4 class="fs-md">Basic Qualifications
      </h4>

      <p>
        The Facilities Supervisor – Maintenance will have a significant impact on customer experience. The Facilities
        Supervisor – Maintenance will have the ability to lead other technicians, design solutions for challenging
        problems,
        manage outside contractors, be on call for emergencies, to handle multiple projects and daily activities, and
        meet
        tough time lines. The Facilities Supervisor – Maintenance will develop plans on how to accomplish engineering
        departmental goals.
      </p>
      <p>
        The Facilities Supervisor – Maintenance will be responsible for the leadership/development and coaching of the
        team.
        Performance Management will be carried out by the Facilities Supervisor – Maintenance. This role also leads the
        technical team in providing both a reactive and pro-active maintenance service on all operational equipment and
        facilities infrastructure within the AMZL Distrbutions Centers. The role has a direct impact on the site, its
        productivity and operational success. If equipment is not available or performs badly it minimizes the capacity
        and
        throughput of the site.
      </p>
      <h4 class="fs-md">Preferred Qualifications

      </h4>

      <p>
        The Facilities Supervisor – Maintenance will have a significant impact on customer experience. The Facilities
        Supervisor – Maintenance will have the ability to lead other technicians, design solutions for challenging
        problems,
        manage outside contractors, be on call for emergencies, to handle multiple projects and daily activities, and
        meet
        tough time lines. The Facilities Supervisor – Maintenance will develop plans on how to accomplish engineering
        departmental goals.
      </p>
      <p>
        The Facilities Supervisor – Maintenance will be responsible for the leadership/development and coaching of the
        team.
        Performance Management will be carried out by the Facilities Supervisor – Maintenance. This role also leads the
        technical team in providing both a reactive and pro-active maintenance service on all operational equipment and
        facilities infrastructure within the AMZL Distrbutions Centers. The role has a direct impact on the site, its
        productivity and operational success. If equipment is not available or performs badly it minimizes the capacity
        and
        throughput of the site.
      </p>

      <div class="mt-md">
        <h3 class="fs-md mb-xs">Join Us</h3>
        <form action="">

          <div class="mb-xs">
            <div class="form-floating">
              <input type="text" class="form-control " id="fname" placeholder="name@example.com">
              <label for="fname">Full Name</label>
            </div>
          </div>
          <div class="mb-xs">
            <div class="form-floating">
              <input type="email" class="form-control" id="Email" placeholder="name@example.com">
              <label for="Email">Email</label>
            </div>
          </div>
          <div class="mb-xs">
            <div class="form-floating">
              <input type="text" class="form-control" id="phone" placeholder="name@example.com">
              <label for="phone">Phone Number</label>
            </div>
          </div>
          <div class="mb-xs">
            <div class="form-floating">
              <input type="text" class="form-control" id="Degree" placeholder="name@example.com">
              <label for="Degree">Degree</label>
            </div>
          </div>
          <div class="mb-xs">
            <div class="form-floating">
              <input type="text" class="form-control" id="College" placeholder="name@example.com">
              <label for="College">College / Institute</label>
            </div>
          </div>
          <div class="mb-xs">
            <div class="form-floating">
              <textarea type="text" class="form-control is-textarea" id="tellUs"
                placeholder="name@example.com"></textarea>
              <label for="tellUs">Tell us About YourSelf</label>
            </div>
          </div>
          <button class="btn btn-secondary pt-e2 pb-e2 px-4">Submit Request</button>

        </form>
      </div>
    </div>
  </div>
</div>
